{% extends 'base.html' %}
{% load static %}
{% load template_extras %}


{% block content %}
    <h2 class="mt-2">All budgets</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Month</th>
            <th scope="col">Income</th>
            <th scope="col">Expense</th>
            <th scope="col">Goal</th>
            <th scope="col">Purpose</th>
        </tr>
        </thead>
        <tbody>
        {% for budget in budgets %}
            <tr data-href="{{ budget.get_url }}">
                <td>{{ budget.get_month }}</td>
                <td>{% price budget.real_income %}</td>
                <td>{% price budget.real_expense %}</td>
                <td>{{ budget.goal }}</td>
                <td>{% price budget.purpose %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

